# Environment variables management
python-dotenv

# Database connection
pyodbc
mysqlclient
mysql-connector-python
pymysql

# Data handling and utilities
pandas
numpy
re
python-dateutil
warnings
os
pickle5
joblib

# Data fetching
requests

# Statistical analysis
scipy

# Time series analysis
statsmodels
prophet
pmdarima

# Visualization
plotly
matplotlib
seaborn
ipython
yellowbrick

# Data imputation
fancyimpute

# Feature processing
imbalanced-learn

# Machine Learning models
catboost
lightgbm
xgboost

# Neural Networks
keras
tensorflow

# Model evaluation
scikit-learn
